<div class="containerPer mt-5">
  <form #filtroForm="ngForm" (ngSubmit)="filtroB(filtroForm)">
    <div class="d-flex">
      <div class="col-2">
        <div class="form-group pb-1">
          <label for="min">Primer mes:</label>

          <select
            id="mesInicio"
            name="mesInicio"
            #mesInicio="ngModel"
            [(ngModel)]="filtro.mesInicio"
            class="form-control"
            [(ngModel)]="primerMesSelected"
          >
            <option [value]="1">Enero</option>
            <option [value]="2">Febrero</option>
            <option [value]="3">Marzo</option>
            <option [value]="4">Abril</option>
            <option [value]="5">Mayo</option>
            <option [value]="6">Junio</option>
            <option [value]="7">Julio</option>
            <option [value]="8">Agosto</option>
            <option [value]="9">Setiembre</option>
            <option [value]="10">Octubre</option>
            <option [value]="11">Noviembre</option>
            <option [value]="12">Diciembre</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group p-l pb-1">
          <label for="max">Último mes:</label>

          <select
            id="mesFinal"
            name="mesFinal"
            #mesFinal="ngModel"
            [(ngModel)]="filtro.mesFinal"
            class="form-control"
            [(ngModel)]="segundoMesSelected"
          >
            <option [value]="1">Enero</option>
            <option [value]="2">Febrero</option>
            <option [value]="3">Marzo</option>
            <option [value]="4">Abril</option>
            <option [value]="5">Mayo</option>
            <option [value]="6">Junio</option>
            <option [value]="7">Julio</option>
            <option [value]="8">Agosto</option>
            <option [value]="9">Setiembre</option>
            <option [value]="10">Octubre</option>
            <option [value]="11">Noviembre</option>
            <option [value]="12">Diciembre</option>
          </select>
        </div>
      </div>
      
     <div class="col-2 p-md-4">
          <button type="submit" class="btn btn-agregar form-control">
            Filtrar
          </button>
      </div>
    </div>
  </form>
  <div class="border-b p-2">
    <br />
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="tablaTrigger"
      class="table table-striped row-border hover pt-2"
    >
      <thead class="bg-custom-2 text-light">
        <tr>
          <th>ID</th>
          <th>Transaccion</th>
          <th>Proyecto</th>
          <th>Fecha y Hora</th>
          <th>Aplicativo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of bitacoras">
          <td>{{ b.idBitacoraAuditoria }}</td>
          <td>{{ b.transaccion }}</td>
          <td>{{ b.proyecto }}</td>
          <td>{{ b.fechaHora }}</td>
          <td>{{ b.nombre + " " + b.apellidos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
