<footer class="pie-pagina" id="pie">
    <div class="grupo-1">

        <div class="container">
            <div class="row">
                <div class="col  mt-xl-5">
                    <!-- <h5 class="label mt-xl-5">SOBRE NOSOTROS</h5> -->

                    <img class="img w-25" src="/assets/UCR.svg" />
                </div>
                <div class="col mt-5">
                    <p>Proyecto Inform&aacute;tica aplicada</p>
                    <p>Abigail Gonz&aacute;lez Escoto </p>
                    <p>Christian Caballari Calder&oacute;n </p>

                </div>


                <div class="col  mt-5">
                   
                    <small>&copy; 2021 - Todos los derechos reservados</small>
                </div>
            </div>

        </div>
    </div>

</footer>