

ngb-pagination .page-item.active .page-link{
     z-index: 3  !important;
     background-color:#000 !important;
     border-color: #000 !important;
    
}
.page-item .active{
     z-index: 3  !important;
     background-color:#000 !important;
     border-color: #000 !important;
}
.h4{
     text-align: center;
}
.card-header{

     background-color: #13547a;
     color:white;
     text-align: center;
     font-family: var(--bs-body-font-family);
 }

 .bg-modal{
     background-color: #80d0c7;
 }
 .btn-modal{
     
     background: transparent;
     border: 2px solid #80d0c7;
      border-radius: 6px;
      font-weight: bold;
      margin-left: 10%;
 }
 .btn-modal:hover {
     background-color: #80d0c7;
     color: white;
     
 }

 .btn-agregar{
     background: transparent;
     border: 2px solid #80d0c7;
     border-radius: 6px;
     font-weight: bold;
}
.btn-agregar:hover {
     background-color: #80d0c7;
     color: white;
}
.btn-edit{
     background-color: #1E90FF;
     color:white;
}
.btn-edit:hover {
     background-color: #4169E1; /* Green */
     color: white;
}