<div class="containerPer mt-5">
  <div class="mb-2">
    <a
      href="#"
      class="btn btn-agregar btn-block"
      data-toggle="tooltip"
      data-placement="top"
      title="Agregar Funcionario"
      data-bs-toggle="modal"
      data-bs-target="#agregarClienteModal"
      #botonAbrir
      ><i class="fas fa-plus"></i> Agregar
    </a>
  </div>
  <div class="border-b p-2">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="tablaTrigger"
      class="table table-striped  row-border hover pt-2"
    >
      <thead class="bg-custom-2 text-light">
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Fecha Nacimiento</th>
          <th>Sexo</th>
          <th>Departamento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{ funcionario.nombre }}</td>
          <td>{{ funcionario.apellidos }}</td>
          <td>{{ funcionario.fechaNacimiento }}</td>
          <td>{{ funcionario.sexo }}</td>
          <td>{{ funcionario.departamento }}</td>
          <td>
            <a
              (click)="editarFuncionario(funcionario)"
              class="btn btn-edit spacing"
            >
              <i class="fas fa-edit"></i>
            </a>
            <a
              (click)="eliminarFuncionario(funcionario)"
              class="btn btn-danger"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
            <a
            (click)="verDetalles(funcionario)"
            class="btn btn-agregar2 spacing"
            data-bs-toggle="modal"
            data-bs-target="#verDetalles"
            #botonDetalles
          >
          <i class="fas fa-address-card"></i>
          </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-custom-2 text-white">
        <h5 class="modal-title">Agregar Funcionario</h5>
        <button
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          #botonCerrar
  (click)="cerrarModal()"
  
        ></button>
      </div>

      <form #funcionarioForm="ngForm" (ngSubmit)="agregar(funcionarioForm)">
        <input
          type="hidden"
          name="idDepartamento"
          #idFuncionario="ngModel"
          [(ngModel)]="funcionario.idFuncionario"
        />
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="funcionario.nombre"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!nombre.errors?.required"
                  class="invalid-feedback"
                >
                  Requerido *
                </div>
                <div
                  [hidden]="!nombre.errors?.minlength"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input
                  type="text"
                  name="apellidos"
                  class="form-control"
                  #apellido="ngModel"
                  [(ngModel)]="funcionario.apellidos"
                  [ngClass]="{
                    'is-invalid': apellido.errors && apellido.touched
                  }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!apellido.errors?.required"
                  class="invalid-feedback"
                >
                  Requerido *
                </div>
                <div
                  [hidden]="!apellido.errors?.minlength"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caracteres
                </div>
              </div>
            </div>

            <div class="col-3">
              <div class="form-group">
                <label for="apellidos">Foto Funcionario</label>
                <div style="width: 15rem; height: 6rem">
                  <img
                    *ngIf="funcionario.foto != ''"
                    [src]="funcionario.foto"
                    class="card-img-top imgtama"
                    alt="..."
                  />
                </div>
              </div>
            </div>

            <div class="col-8">
              <div class="form-group">
                <div class="form-group">
                  <label for="loginName">Nombre de Usuario</label>
                  <input
                    type="text"
                    name="loginName"
                    class="form-control"
                    name="loginName"
                    class="form-control"
                    #loginName="ngModel"
                    [(ngModel)]="funcionario.loginName"
                    [ngClass]="{
                      'is-invalid': loginName.errors && loginName.touched
                    }"
                    required
                    minlength="5"
                  />
                  <div
                    [hidden]="!loginName.errors?.required"
                    class="invalid-feedback"
                  >
                    Requerido *
                  </div>
                  <div
                    [hidden]="!loginName.errors?.minlength"
                    class="invalid-feedback"
                  >
                    Debe contener al menos 5 caracteres
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="foto">Agregar Imagen</label>
                <input
                  type="file"
                  accept="image/*"
                  name="foto"
                  alife-file-to-base64
                  class="form-control"
                  (onFileChanged)="onFileChanged($event)"
                />
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  #password="ngModel"
                  [disabled]="habilidado"
                  [(ngModel)]="funcionario.password"
                  [ngClass]="{
                    'is-invalid': password.errors && password.touched
                  }"
                  required
                  minlength="5"
                />
                <div
                  [hidden]="!password.errors?.required"
                  class="invalid-feedback"
                >
                  Requerido *
                </div>
                <div
                  [hidden]="!password.errors?.minlength"
                  class="invalid-feedback"
                >
                  Debe contener al menos 5 caracteres
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="fechaNacimiento">Fecha Nacimiento</label>
                <input
                  type="date"
                  name="fechaNacimiento"
                  class="form-control"
                  #fachaNacimiento="ngModel"
                  [(ngModel)]="funcionario.fachaNacimiento"
                  [ngClass]="{
                    'is-invalid':
                      fachaNacimiento.errors && fachaNacimiento.touched
                  }"
                  required
                />
                <div
                  [hidden]="!fachaNacimiento.errors?.required"
                  class="invalid-feedback"
                >
                  Requerido *
                </div>
              </div>
            </div>

            <div class="col-8">
              <div class="form-group">
                <label for="departamento">Departamento</label>
                <select
                  class="form-select"
                  aria-label="Departamentos"
                  name="idDepartamento"
                  #idDepartamento="ngModel"
                  [(ngModel)]="funcionario.idDepartamento"
                  [ngClass]="{
                    'is-invalid':
                      idDepartamento.errors && idDepartamento.touched
                  }"
                  required
                >
                  <option selected>Seleccion el Departamento</option>
                  <option
                    [value]="item.idDepartamento"
                    *ngFor="let item of departamentos"
                  >
                    {{ item.descripcion }}
                  </option>
                </select>
                <div
                  [hidden]="!idDepartamento.errors?.required"
                  class="invalid-feedback"
                >
                  Requerido *
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="sexo">Sexo</label>
                <select
                  class="form-select"
                  aria-label="Sexo"
                  name="idSexo"
                  #idSexo="ngModel"
                  [(ngModel)]="funcionario.idSexo"
                  [ngClass]="{ 'is-invalid': idSexo.errors && idSexo.touched }"
                  required
                >
                  <option selected>Seleccion el Sexo</option>
                  <option [value]="item.idSexo" *ngFor="let item of sexo">
                    {{ item.descripcion }}
                  </option>
                </select>
                <div
                  [hidden]="!idSexo.errors?.required"
                  class="invalid-feedback"
                >
                  Requerido *
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            [disabled]="!funcionarioForm.valid"
            class="btn btn-agregar"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="verDetalles">
  <div class="modal-dialog modal-static">
    <div class="modal-content">
      <div class="modal-header bg-custom-2 text-white">
        <h5 class="modal-title">Detalles Funcionario</h5>
        <button
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          #botonDetalles
          (click)="cerrarDetalles()"
        ></button>
      </div>
      <div class="card" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 p-2 pt-3">
            <img
                    *ngIf="funcionarioD.foto != ''"
                    [src]="funcionarioD.foto"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="card" style="width: 19rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i class="fas fa-check-square bg-custom-2"></i> Nombre: {{funcionarioD.nombre}} {{funcionario.apellidos}}</li>
                  <li class="list-group-item"><i class="fas fa-check-square bg-custom-2"></i> Nombre Usuario: {{funcionarioD.loginName}}</li>
                  <li class="list-group-item"><i class="fas fa-check-square bg-custom-2"></i> Departamento: {{funcionarioD.departamento}}</li>
                  <li class="list-group-item"><i class="fas fa-check-square bg-custom-2"></i> Sexo: {{funcionarioD.sexo}}</li>
                  <li class="list-group-item"><i class="fas fa-check-square bg-custom-2"></i> Fecha Nacimiento: {{funcionarioD.fachaNacimiento}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>