body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
     margin-left: 0;
   }
   

   
     #page-content-wrapper {
       min-width: 0;
       width: 100%;
     }
   
     body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
       margin-left: -15rem;
     }