<body>
  <div class="imgLogin">
    <img class="img1" src="/assets/login4.svg" />
</div>
  <div class="login">

<div class="h-100">
  <div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
      <div class="modal-content">
        <div class="col-12 user-img">
          <img src="/assets/male2.svg" />

        </div>
        <!--#funcionarioForm="ngForm" (ngSubmit)="agregar(funcionarioForm)"  (ngSubmit)="login()"-->
        <form #funcionarioLogin="ngForm" (ngSubmit)="login(funcionarioLogin)" class="col-12 mt-4">
          <div class="form-group m-3" id="user-group">
            <input
              type="email"
              placeholder="Username"
              class="form-control"
              name="loginName"
              #loginName="ngModel"
                [(ngModel)]="funcionario.loginName"
                [ngClass]="{'is-invalid': loginName.errors && loginName.touched}"
                required
                minlength="2" 
            />
            <div [hidden]="!loginName.errors?.required" class="invalid-feedback">
              <span class="label danger">* Campo requerido</span>
            </div> 
            <div [hidden]="!loginName.errors?.minlength" class="invalid-feedback">
              <span class="label danger">* Debe contener al menos 2 caracteres </span>
            </div>
          </div>
          <div class="form-group m-3" id="contrasena-group">
            <input
              type="password"
              placeholder="Password"
              class="form-control"
              name="password"
              #password="ngModel"
              [(ngModel)]="funcionario.password"
              [ngClass]="{'is-invalid': password.errors && password.touched}"
              required
              minlength="5" 
            />

            <div [hidden]="!password.errors?.required" class="invalid-feedback">
              <span class="label danger">* Campo requerido</span>
            </div> 
            <div [hidden]="!password.errors?.minlength" class="invalid-feedback">
              <span class="label danger">* Debe contener al menos 5 caracteres </span>
            </div>
           

          </div>
          <div class="form-group m-3">
            <button type="submit" class="btn btn-primary form-control"
            [disabled]="!funcionarioLogin.valid">
              <i class="fas fa-sign-in-alt"></i> Ingresar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</body>
