<div class="container mt-2">
     <section id="actions" class="py-4 mb-4 bg-light">
       <div class="container">
         <div class="row">
           <div class="col-md-3">
             <a
               href="#"
               class="btn btn-dark btn-block"
               data-bs-toggle="modal"
               data-bs-target="#agregarClienteModal"
               ><i class="fas fa-plus"></i> Agregar
             </a>
           </div>
         </div>
       </div>
     </section>

     <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Listado de departamentos</h4>
            </div>
            <table class="table table-striped">
              <thead class="bg-dark text-white">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Descripci&oacute;n</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dep of departamentos">
                  
                  <td>{{ dep.idDepartamento }}</td>
                  <td>{{ dep.descripcion }}</td>
                 
                  <td>
                    <a routerLink="/departamento/editar/{{dep.idDepartamento}}" class="btn btn-secondary">
                      <i class="fas fa-edit"></i>
                 </a>
                   </td>
                   <td>
                    <a (click)="eliminarDepartamento(dep)" class="btn btn-secondary">
                         <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


  <div class="modal fade" id="agregarClienteModal">
   <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">Agregar Departamento</h5>
        <button
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          #botonCerrar
        ></button>
      </div>

     <!--(ngSubmit)="agregar(funcionarioForm)" -->

      <form #departamentoForm="ngForm" (ngSubmit)="agregarDepartamento(departamentoForm)">

        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="descripcion">Descripci&oacute;n</label>
                <input
                type="text" 
                name="descripcion" 
                class="form-control"
                #descripcion="ngModel"
                [(ngModel)]="departamento.descripcion"
                [ngClass]="{'is-invalid': descripcion.errors && descripcion.touched}"
                required
                minlength="2"  
                />
                <div [hidden]="!descripcion.errors?.required" class="invalid-feedback">
                  *Campo requerido
                </div> 
                <div [hidden]="!descripcion.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 2 caracteres
                </div>
              </div>
            </div>
            
        </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-dark">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
