<div class="offcanvas offcanvas-start bg-color" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
     <div class="offcanvas-header">
       <h5 class="offcanvas-title text-white text-center" id="offcanvasExampleLabel">Menú Administración</h5>
       <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body">
       <aside class=" p-4">
         <ul class="nav flex-column mt-3">
           <li class="nav-item">
             <a routerLink="/home" class="nav-link text-light d-flex align-items-center"
               ><i class="fas fa-user-circle"></i><span class="p-2">Funcionarios</span></a
             >
           </li>
           <li class="nav-item">
             <a routerLink="/departamento" class="nav-link text-light d-flex align-items-center"
               ><i class="fas fa-building"></i><span class="p-2">Departamentos</span></a
             >
           </li>
           <li class="nav-item">
            <a  (click)="logout()"  class="nav-link text-light d-flex align-items-center"
              ><i class="fas fa-sign-out-alt"></i><span class="p-2">Salir</span></a>
          </li>
         </ul>
       </aside>
     </div>
   </div>

   