<div class="offcanvas offcanvas-start bg-black" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
     <div class="offcanvas-header">
       <h5 class="offcanvas-title text-white text-center" id="offcanvasExampleLabel">Menú Administración</h5>
       <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body">
       <aside class="bg-black p-4">
         <ul class="nav flex-column mt-3">
           <li class="nav-item">
             <a href="" class="nav-link text-light d-flex align-items-center"
               ><i class="material-icons mr-3">contacts</i>Clientes</a
             >
           </li>
           <li class="nav-item">
             <a href="" class="nav-link text-light d-flex align-items-center"
               ><i class="material-icons mr-3">dvr</i>Ventas</a
             >
           </li>
           <li class="nav-item">
             <a href="" class="nav-link text-light d-flex align-items-center"
               ><i class="material-icons mr-3">contacts</i>Admin</a
             >
           </li>
           <li class="nav-item">
             <a href="" class="nav-link text-light d-flex align-items-center"
               ><i class="material-icons mr-3">contacts</i>Otro</a
             >
           </li>
         </ul>
       </aside>
     </div>
   </div>

   