<nav class="navbar navbar-expand-sm bg-custom-2 p-3">
 <div class="container">
    <a class="nav-link btn-nav btn text-white" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <i class="fas fa-bars"></i>
    </a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
        >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>


  <div class="collapse navbar-collapse" id="navbarCollapse">
    
    <ul class="navbar-nav ml-auto">
      <li  class="nav-item dropdown mr-3">
          <a class="btn  btn-style dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="fas fa-user"></i>Bienvenido
          </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a routerLink="/configuracion" class="dropdown-item">
            <i class="fas fa-cog"></i>Configuración</a
          ></li>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav p-1">
    <li *ngIf="isLoggin" class="nav-item">
      <a style="cursor: pointer;"  (click)="logout()" class="btn btn-secondary"><span>Salir</span>
       
      </a>
    </li>
    </ul>
  </div>
</nav>


