<div class="containerPer mt-5">
  <div class="mb-2">
  <a
  href="#"
  class="btn btn-agregar btn-block"
  data-toggle="tooltip" data-placement="top" title="Agregar departamento"
  data-bs-toggle="modal"
  data-bs-target="#agregarModal"
  #botonAbrir
  ><i class="fas fa-plus"></i> Agregar
</a>
</div>

<div class="border-b p-2">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="tablaTrigger"
      class="table table-striped table-bordered row-border hover pt-2"
    >
      <thead class="bg-custom-2 text-light">
        <tr>
          <th>ID</th>
          <th>Fecha y Hora</th>
          <th>Fecha Incio</th>
          <th>Fecha Fin</th>
          <th>Aplicativo</th>
          <th>Responsable TI</th>
          <th>Responsable usuario final</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <td>{{ solicitud.idSolicitud }}</td>
          <td>{{solicitud.fechaHora}}</td>
          <td>{{solicitud.fechaInicio}}</td>
          <td>{{solicitud.fechaFin}}</td>
          <td>{{solicitud.idUsuarioAplicativo}}</td>
          <td>{{solicitud.idResponsableTI}}</td>
          <td>{{solicitud.idResponsableUsuarioFinal}}</td>
          
          <td>
            <a (click)="editarSolicitud(solicitud)" class="btn btn-edit spacing">
              <i class="fas fa-edit"></i>
            </a>
            <a
              (click)="eliminarSolicitud(solicitud)"
              class="btn btn-danger spacing"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
            <a (click)="verdocumentoActaconstituvia(solicitud)" class="btn btn-edit spacing">
              <i class="fas fa-clipboard-list"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="agregarModal">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
     <div class="modal-header text-white bg-custom-2">
       <h5 class="modal-title">Agregar</h5>
       <button
         class="btn-close btn-close-white"
         data-bs-dismiss="modal"
         data-toggle="tooltip" data-placement="top" title="Cerrar"
         #botonCerrar
         (click)="cerrarModal()"
       ></button>
     </div> 

     <form #solicitudForm="ngForm" (ngSubmit)="agregarSolicitud(solicitudForm)">
      <input type="hidden" name="idSolicitud"
      #idSolicitud="ngModel"
      [(ngModel)]="solicitud.idSolicitud"/>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="usuarioA">Usuario Responsable TI</label>
                      <select class="form-select" aria-label="Default select example" name="idResponsableTI"
                       #idResponsableTI="ngModel" 
                       [(ngModel)]="solicitud.idResponsableTI" 
                       [ngClass]="{'is-invalid': idResponsableTI.errors && idResponsableTI.touched}">
                        
                
                       <option [value]="item.idFuncionario"  *ngFor="let item of funcionariosTI ">{{item.nombre+"  "+item.apellidos}}  </option>
                        </select>

                        <div [hidden]="!idResponsableTI.errors?.required" class="invalid-feedback">
                          *Requerido
                        </div>
                     
                    </div>
                   </div>

                <div class="form-group">
                      <label for="fechaInicio">Fecha inicio del proyecto</label>
                    <input type="date" name="fechaInicio" placeholder="dd-mm-yyyy"
                    class="form-control"
                    #fechaIncio="ngModel"
                    [(ngModel)]="solicitud.fechaInicio"
                    [ngClass]="{'is-invalid': fechaIncio.errors && fechaIncio.touched}"
                    required>

                    <div [hidden]="!fechaIncio.errors?.required" class="invalid-feedback">
                      *Requerido
                    </div>
                   
                 </div>

                  
                  <div class="form-group">
                    <label for="fechaFin">Fecha fin del proyecto</label>
                  <input type="date" name="fechaFin" placeholder="dd-mm-yyyy"
                  class="form-control"
                  #fechaFin="ngModel"
                  [(ngModel)]="solicitud.fechaFin"
                  [ngClass]="{'is-invalid': fechaFin.errors && fechaFin.touched}"
                  required>

                  <div [hidden]="!fechaFin.errors?.required" class="invalid-feedback">
                    *Requerido
                  </div>
                </div>
                <div class="form-group">
                  <label for="usuarioResponsable">Responsable usuario final</label>
                  <select class="form-select"  name="idResponsableUsuarioFinal" 
                  #idResponsableUsuarioFinal="ngModel" 
                  [(ngModel)]="solicitud.idResponsableUsuarioFinal" 
                  [ngClass]="{'is-invalid': idResponsableUsuarioFinal.errors && idResponsableUsuarioFinal.touched}">
                    
                    <option [value]="item.idFuncionario"   *ngFor="let item of funcionarios ">{{item.nombre+"  "+item.apellidos}}  </option>
                    </select>

                    <div [hidden]="!idResponsableUsuarioFinal.errors?.required" class="invalid-feedback">
                      *Requerido
                    </div>
                 
                </div>

                <div class="form-group">
                  <label for="usuarioResponsable">Documento Acta constitutiva</label>

                  <input type="file"
                  alife-file-to-base64
                  class="form-control"  
                  name="documentoActaConstitutiva"
                  (onFileChanged)="onFileChangedSolicitud($event)"
                  required />
                </div>



                  

                  
              </div>
              </div>
      
              <div class="modal-footer">
                <button type="submit" class="btn btn-agregar" data-toggle="tooltip" data-placement="top" title="Guardar">Guardar</button>
              </div>
              </form>
            </div>
          </div>
        </div> 
