<div class="p-2">
   
     <table
       datatable
       [dtOptions]="dtOptions"
       [dtTrigger]="tablaTrigger"
       class="table table-striped row-border hover pt-2"
     >
     
     
       <thead class="bg-custom-2 text-light">
         <tr>
           <th>Transaccion</th>
           <th>Acciones</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let transaccion of transacciones">
           <td>{{ transaccion.descripcion }}</td>
           <td>
             <a (click)="editarTransaccion(transaccion)" class="btn btn-edit spacing">
              <i class="fas fa-edit"></i>
            </a>
            <a
            (click)="eliminarTransaccion(transaccion)"
            class="btn btn-danger">
              <i class="fas fa-trash-alt"></i>
          </a>
           </td>
         </tr>
       </tbody>
     </table>
   </div>



