.container2 {
  max-width: 690px;
  margin: 0 auto !important;
  padding-top: 2rem;
}
.border{
border: 1px solid;
}

.containerGrafico{
max-width: 400px;
margin: 0 auto;
padding: 0;
}
.center{
padding-top: 1.5rem;
}

.legend-labels{

}
ul .legend-labels .horizontal-legend{
  max-width: 1200px!important;
  height: 900px;
}

/* #pie-chart-parent { 
  display: grid;
  height: 250px;
 } */
 .chart-wrapper { display: flex; overflow: hidden; }
 .charts-container{
   height: 370px;
 }