<!-- <div id="htmlData">
  <div class="container2">
    <div class="border">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="dropdown-item" aria-current="page" routerLink="/estadistica"
          >Avances de Proyectos</a
        >
      </li>
      <li>
        <div class="d-flex">
        <a class="nav-link active m-1" routerLink="/pastel"
          >Estadisticas de los Proyectos</a
        >
        <a class="btn btn-primary m-1 nav-link active" (click)=" downloadPDF()">Generar Reporte</a>
      </div>
      </li>
  
    </ul> -->
      <!-- <div><p class="center containerGrafico">Proyectos Pendientes, Terminados y Cancelados</p></div> -->
      <a class="btn btn-agregar m-1 nav-link active" (click)=" downloadPDF()">Generar Reporte</a>
      <div id="htmlData1">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [legendTitle]="legendTitle"
        [maxLabelLength]="maxLabelLength"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </div>
  <!-- </div>
  </div> --> 
  