.container2 {
  max-width: 690px;
  margin: 0 auto !important;
  padding-top: 2rem;
}
.border{
border: 1px solid;
}

.containerGrafico{
max-width: 400px;
margin: 0 auto;
padding: 0;
}
.center{
padding-top: 1.5rem;
}